{
  "ibmcloud_api_key": $VALIDATION_APIKEY,
  "prefix": $PREFIX,
  "existing_resource_group_name": "geretain-test-resources",
  "watson_discovery_plan": "plus",
  "watsonx_assistant_plan": "plus",
  "watson_machine_learning_plan": "v2-standard",
  "enable_cos_kms_encryption": false
}
